<html>
<head>
  <title></title>
</head>
<body>
{% if data %}
  <a href="{{ path_for('page_myevents') }}">{{ data.user }}</a>
  <a href="{{ path_for('page_logout') }}">Logout</a>
{% else %}
  <a href="{{ path_for('page_login') }}">Login</a>
{% endif %}
</body>
</html>
