<html>
<head>
  <title>Login Page</title>
</head>
<body>
<form>
  <input id="user" type="text" name="username"><br>
  <input id="pass" type="password" name="password"><br>
  <button type="button" id="signin">Sign In</button>
</form>
<script src="{{ base_url() }}/static/js/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    $('#signin').click(function () {

      var user = $("#user").val();
      var pass = $("#pass").val();

      if(user != "" && pass != ""){
        $.ajax({
          url: "{{ path_for('api_login') }}",
          type: "POST",
          data: {
            "username": user,
            "password": pass
          },
          success: function (result) {
            if(result.status == "success"){
              window.location.href="{{ path_for('page_home') }}";
            }else{
              alert(result.message);
            }
          }
        });
      }
    });
    
  });
</script>
</body>
</html>